*       {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
body{/*mettre une image en font d'ecran sur body(cad sur la totalité la page)*/
    background-image: url("../img/concrete-texture.png");
    /* font-family: serif; */
}
header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #2c3e50;
    padding:15px 0;
    /*
    padding:15px; il va faire un padding de 15px sur les 4 cotes(top,right,bottom,left)
    padding:15px 4px; il va faire un padding de 15px en haut et en bas(top,bottom) et il va faire padding de 4 px a gauche et a droite(left et right)
    padding:top right bottom left;(sui le sens de l'aiguille d'une montre)
    */
}
header h1{
    font-family:'Anton',sans-serif;
    color:#2980b9;
    font-size:45px;
    line-height: 115px;/*on peut faire margin-top:*/
    letter-spacing: 1px;
    font-weight: 400;
}
.social a{
    color:#10828C;
    font-size:30px;
    display: block;
    line-height: 45px;
}
.logo{
    margin-left:100px;
    
}
.social {
    margin-right:24px;
}
.slogan{
    flex-grow: 2;/*c'est une propriete enfant flex qui permet au l'élement de prendre tout le reste de l'espace disponible */
    margin-left: 10%;
}
.nav_bar{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;/*on peut supprimer les puces de la liste dans ul ou bien dans li*/
    width: 73%;
    margin:0 auto;
}
.nav_bar a{/*selectionner les a qui sont a l'interieur de .nav_bar*/
    text-decoration: none;/*pour supprimer la soulaignement*/
    color:#fff;
    font-size:20px;
    font-family: 'oswald';
 
}
nav{
    background-color:#2980b9;
    padding:10px 0;
    border-bottom:8px solid #6ACAFC;
  
}
.nav_bar li{
    border:2px solid #fff;
    background-color: #6ACAFC;
    border-radius: 10px 0;
    padding:3px 10px;
    transition: 0.3s;/*pour raffiner l'effet de l'apparition de background-color*/
}
.nav_bar li:hover{/*lorsque je passe la souris au dessus de l'élement je fais ces propriets */
background-color:#A6D6C3 ;
}
li.active{
    background-color: #2c3e50;
}
main{
    width:1200px;
    margin:0 auto;
}
.structure{
    background-color: #A6D6C3;
    padding: 10px 50px;
    margin-top:20px;
    margin-bottom:20px!important;
}
h1,h2,h3,h4,h5,h6{
    font-family:'oswald';
}
footer{
    background-color: #2980b9;
    height: 45px;
}
/**********css pour page image************/
h2{
    /* pour creer background transparent */
    background-color: rgba(178,178,178,0.3);/*creer un background transparent*/
    color: #2c3e50;
    font-size: 35px;
    padding: 30px 20px 50px;
    text-shadow: 1px 1px 1px grey;/*créer un effet shadow sur le texte*/
}
.image_fond{
    background-image:url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:10px 50px;
 
}
.image_fond p{
    
    margin: 199px 50px 348px 50px;
    background-color: rgba(255,255,255,0.6);
    padding: 30px;
    border-radius: 10px;
    font-size: 21px;
}
.image_fond h5{
    font-size: 18px;
    font-family: serif;
    margin-top: 15px;
    color: #2c3e50;
    margin-left: 10px;
    text-shadow: 1px 1px 2px grey;
}
.animation_img img{
    border:4px solid #fff;
}
.animation_img{
    background-color: rgba(178,178,178,0.3);
}
