body{
    margin: 0 auto;
    width: 1300px;
    text-align: center;}
.milieu{
    display: inline-block;
    height: 500px;

}
.droite{
    float: right;
    background-color: #5585ff;
    width:283px;
    height: 548px;
    line-height: 548px;
}
.z_milieu div{/*ce selecteur pour dire toutes les div qu se trouve a l'interieur d'une balise qui a comme classe z_milieu*/
width: 138px;
background-color: limegreen;
display: inline-block;
height: 450px;
line-height: 450px;
border: 1px solid black;
}
#footer{
    background-color: yellow;
    height: 100px;
    line-height: 100px;
}
header{
    height: 100px;
    background-color: #ff5555;
}/*display:none permet de cacher un element */
/*visibility: hidden; permet de cacher l'element tout en gardant la zone*/
.gauche{
    background-color: #5585ff;
    width: 300px;
    height: 550px;
    line-height: 70px;/*line-height: definit l'hauteur de la ligne;*/
    float: left;
}