html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
*{
    box-sizing: border-box;

}
body{
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
header{
    background-color: #9933cc;
    padding:20px;
}
header h1{
    color:#fff;
}
.zone_1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding:0 25px;
}
.navbar ul {
    list-style-type: none;
}
.navbar li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .center{
      padding:20px;
  }
  .center h2{
      padding:15px;
  }
  .aside{
      background-color: #33b5e5;
      color:#fff;
      text-align: center;
      line-height: 30px;
      padding: 25px;
  }
  .zone_2{
      display: flex;
      margin-top: 30px;
      flex-wrap: wrap;
  }
  img{
      width: 100%;
  }
[class*="col-"]{/*on va selectionner toutes les classes qui ont un prefixe col-*/
    padding:15px;
}
footer{
    padding:25px;
    background-color:#33b5e5 ;
    color:#fff;
}
  /***************partie mobile*****************/
  @media only screen and (max-width:768px){/*je travaille sur les ecrans moins de 768px*/

        .col-3{
            width: 100%;
        }
        .col-6{
            width: 100%;
        }
        .img{
            width: 50%;
        }
      .zone_1{
          flex-wrap: wrap;/* ici on peut utiliser aussi display:block*/
      }
      header{
        background-color: red;
      }
      
  }
  @media only screen and (min-width:769px) and (max-width:992px)
    .col-3{
        width: 50%;
    }
    .center{
        width: 50%;
    }
    .aside{
        width: 100%;
    }
  }